td {
    padding: 0px;
    border-spacing: 0px;
    text-align: center;
}

.cell {
    width: 24px;
    max-width: 24px;
    height: 24px;
    max-height: 24px;
    border: 0px;
    vertical-align: middle;
}

#game_board {
    table-layout: fixed;
}