td {
    padding: 0px;
    border-spacing: 0px;
    text-align: center;
}

.cell {
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
    border: 0px;
}

#game_board {
    table-layout: fixed;
}